node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*.local

dist
build
*.tsbuildinfo

coverage
.nyc_output

.vscode
.idea

.git
.gitignore

.DS_Store
Thumbs.db

logs
*.log

.husky
